@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css";
body{
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: 100% 720px;
    background-image: url('slike/ozadje3.jpg');
    background-color: black;
    background-position-y: center;
    background-position-x: center;
    background-size: 98%;
}

.container{
	width: 500px;
	height: 450px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(80, 61, 0, 0.2);
	margin-top: 160px;
    border: solid 3px rgba(230, 193, 30, 0.6);
    border-radius: 60px 60px 60px 60px;

    
}

.container img{
	width: 150px;
	height: 150px;
	margin-top: -60px;
}

input[type="text"],input[type="password"]{
	margin-top: 30px;
	height: 45px;
	width: 300px;
	font-size: 18px;
    color: white;
	margin-bottom: 20px;
	background-color: #d1c05e;
	padding-left: 40px;
    border: solid 3px rgba(255, 255, 255);
    border-radius: 30px 30px 30px 30px;
    opacity: 0.8;
    text-decoration: white;
}

.labelList{
	color: white;
}

input[type="text"]::placeholder,input[type="password"]::placeholder{
    color:white;
    font-weight: 400;
    text-transform:lowercase;
}

.form-input::before{
	content: "\f007";
	font-family: "FontAwesome";
	padding-left: 7px;
	padding-top: 40px;
	position: absolute;
	font-size: 35px;
	color: #2980b9; 
}

.form-input:nth-child(2)::before{
	content: "\f023";
    
}

.btn-login{
	padding: 15px 25px;
	border: solid 4px white;
	background-color: #a33535;
    border-radius: 18px 18px 18px 18px;
	color: #fff;
    margin-top: 30px;
    opacity: 0.8;
}
